*{
    padding: 0px;
    margin: 0px;
    background-color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
    border-bottom: 3px solid aqua;
    font-family: 'Courier New', Courier, monospace;
    
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: aqua;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;

  }
  
  li a:hover:not(.active) {
    background-color:aqua;
  }
  

  #about{
      background-color: aqua;
  }

  .main_heading{
    color: BLACK;
    font-family: 'Courier New', Courier, monospace;
    font-size: 7rem;
    margin-top: 50px;
    margin-bottom: 60px;
  }

  .about_me{
    position: relative;
    font-size: 2.5rem;
    color: bLACK;
    
  }